<!DOCTYPE html>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app" v-cloak>
    <p>{{fullName()}}</p>
    <p><a :href="url" target="_blank">Google</a></p>
    <p v-html="raw_url"></p>
    <hr />

    <label>First Name</label>
    <input v-model="firstName" type="text" />

    <label>Last Name</label>
    <input v-model="lastName" type="text" />
  </div>

  <!-- <div id="app2">
    {{firstName}}
    {{lastName}}
  </div> -->

  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>

</html>